body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: -10px;
  margin-top: -10px;
  font-family: "Titillium Web", sans-serif;
}

header {
  position: fixed;
  width: 101%;
  background-color: black;
  opacity: 75%;
  margin-top: 10px;
  padding: 5px;
}

.container {
  width: 1000px;
  margin: auto;
  border: 1px solid transparent;
  padding: 20px 0;
}

.navbar a {
  color: white;
  margin: 0 10px -10px 0;
  text-decoration: unset;
  font-size: 15px;
  font-family: "Titillium Web";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: pink;
}

nav a h1 {
  margin-top: -2px;
  margin-left: -5px;
  margin-bottom: 18px;
  color: white;
  font-size: 23px;
  font-family: "Titillium Web";
  font-weight: bold;
  letter-spacing: 1.6px;
}

.nav {
  float: right;
  margin-top: -2px;
  position: relative;
  left: -10.5px;
}

.nav a {
  color: white;
  margin-left: 10px;
  text-decoration: unset;
  font-size: 15px;
  font-family: "Titillium Web";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav a:hover {
  color: pink;
}

.isi {
  width: 1000px;
  padding: 50px 0 50px 50px;
  background-color: white;
  margin: 45px 0 0 -5px;
  box-sizing: border-box;
  border: 1px solid white;
  opacity: 80%;
  overflow: scroll;
}

.isi .satu {
  width: 900px;
  height: 200px;
  background-color: pink;
  text-align: center;
}

.login h1 {
  margin: 115px 0 0 0;
  color: white;
  font-family: "Titillium Web";
  font-weight: bold;
  font-size: 70pt;
  letter-spacing: 5px;
  text-align: center;
}

.satu table {
  width: 270px;
  height: 100px;
  margin: 25px auto;
  border: 1px solid transparent;
  overflow: hidden;
}

.satu table th {
  border-bottom: 1px solid grey;
  font-size: 20px;
  overflow: hidden;
}

.satu table td {
  font-family: "Titillium Web";
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
}

.satu button {
  margin: 0px auto 25px;
  color: black;
  font-family: "Titillium Web";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 885px;
  text-transform: uppercase;
}

.satu button:hover {
  color: pink;
  border-color: white;
}

.satu table td input,
label {
  text-align: center;
  color: black;
  font-family: "Titillium Web";
  font-size: 15px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 105%;
  padding: 0px;
  background-color: black;
  font-family: "Titillium Web";
  color: white;
  margin-right: 50px;
  margin-top: 80px;
  margin-bottom: -5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: -25px;
}

.copyright {
  color: white;
  padding: 0px;
}
